<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/public/styles/style.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <a href="/"><li>TopCoins</li></a>
          <a href="/trending-today"><li>TrendingToday</li></a>
        </ul>
      </nav>
    </header>
    <main>
      <section id="search">
        <form action="/search" method="post">
          <input type="text" name="search" placeholder="Search for coins" />
          <button type="submit">search</button>
        </form>
      </section>
      <section id="coinsList"></section>
    </main>
    <script src="index.js"></script>
    <footer></footer>
  </body>
</html>
